<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shimmerresearch.slidingmenu"
    android:versionCode="7"
    android:versionName="0.3" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        
        <activity
            android:name="com.shimmerresearch.calibrate.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.shimmerresearch.calibrate.DeviceListActivity" android:screenOrientation="portrait" android:label="@string/select_device" android:theme="@android:style/Theme.Dialog"> </activity>
        <activity android:name="com.shimmerresearch.calibrate.RadioButtonListActivity" android:screenOrientation="portrait" android:label="@string/radiogroup" android:theme="@android:style/Theme.Dialog"> </activity>
        
    </application>

</manifest>
